@charset "UTF-8";

#header {
 width: 70%;
 background-color: black;
 background: rgba(0, 0, 0, 0.5);
 position: fixed;
 height: 70px;
 top: 0;
 right: 50px;
 z-index: 99;
 border-radius: 0 0 20px 20px;
}

#home {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(image/home.jpg);
  background-repeat: no-repeat;
  background-position: 70% 100%;
  background-size: cover;
  color: white !important;
}

.greeting-text {
	font-size: 3.5em;
	font-weight: 100;
}

.menu:hover {
	font-size: 1.5em;
	cursor: pointer;
}